<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
        <div class="rodape">
           FastTickets - Todos os Direitos Reservados
         </div>
</head>
</html>
