<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar">
        <div class="container">
            @Html.ActionLink("Home", "Index", "")
            |
            @Html.ActionLink("Cadastrar Evento", "Index", "Evento")
            |
            @Html.ActionLink("Cadastrar Local", "Index", "Local")
        </div>
    </nav>
</head>
</html>
