<!DOCTYPE html>
<html>
<head>


    <nav class=" navbar">
        <div class="container">
            @Html.ActionLink("Home", "Index", "")
            |
            @Html.ActionLink("Cadastrar Evento", "Index", "Evento")
            |
            @Html.ActionLink("Cadastrar Local", "Index", "Local")
        </div>
    </nav>
</head>
</html>
